---
import { Sprite } from "astro-icon";
import "@fontsource/rubik";
import Navigation from "../components/Navigation.astro";

export interface Props {
  title: string;
  description?: string;
  locale?: string;
  type?: "website" | "article";
}

const { title, description, locale, type } = Astro.props;
---

<script>
  // @ts-nocheck // this is a javascript library, no types for the plugins provided at all
  import Swup from "swup";
  import SwupScriptsPlugin from "@swup/scripts-plugin";
  import SwupA11yPlugin from "@swup/a11y-plugin";
  import SwupHeadPlugin from "@swup/head-plugin";
  import SwupSlideTheme from "@swup/slide-theme";
  import SwupFadeTheme from "@swup/fade-theme";
  import SwupScrollPlugin from "@swup/scroll-plugin";
  import SwupPreloadPlugin from "@swup/preload-plugin";
  import SwupDebugPlugin from "@swup/debug-plugin";

  document.addEventListener("DOMContentLoaded", () => {
    const match = window.matchMedia("(prefers-reduced-motion: reduce)");

    const swup = new Swup({
      plugins: [
        new SwupScriptsPlugin(),
        new SwupA11yPlugin(),
        new SwupHeadPlugin(),
        match.matches ? new SwupFadeTheme() : new SwupSlideTheme(),
        new SwupScrollPlugin({
          animateScroll: !match.matches,
        }),
        new SwupPreloadPlugin(),
        new SwupDebugPlugin(),
      ],
    });
  });
</script>

<html class="dark scroll-smooth bg-background" lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/pfp_rounded.png" />
    <meta name="generator" content={Astro.generator} />
    <meta property="og:title" content={title + " | Emma Böcker"} />
    {description && <meta property="og:description" content={description} />}
    <meta property="og:type" content={type ?? "website"} />
    <meta property="og:url" content={Astro.request.url} />
    <meta property="og:locale" content={locale ?? "en_US"} />
    <meta property="og:image" content="https://github.com/EmmaBoecker.png" />
    <meta property="og:image:alt" content="Emma's profile picture" />

    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@EmmaBoecker" />
    <meta name="twitter:creator" content="@EmmaBoecker" />
    <meta name="twitter:title" content={title + " | Emma Böcker"} />
    {description && <meta name="twitter:description" content={description} />}
    {description && <meta name="description" content={description} />}
    <title>{title} | Emma Böcker</title>
  </head>
  <body>
    <div id="content">
      <Sprite.Provider>
        <Navigation />
      </Sprite.Provider>
      <main id="swup">
        <Sprite.Provider>
          <slot />
        </Sprite.Provider>
      </main>
    </div>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: "Rubik", sans-serif;
    color: #fff;
  }
  ::-webkit-scrollbar {
    width: 5px;
    height: 5px;
  }

  /* Track */
  ::-webkit-scrollbar-track {
    display: none;
    background: #0b090c;
  }

  /* Handle */
  ::-webkit-scrollbar-thumb {
    position: fixed;
    background: #24203a;
    border-radius: 1rem;
  }

  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
</style>
